@{
	ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/_LayoutIntro.cshtml";
}

<div class="darkmask text-center text-light">
	<div class="container px-4 px-lg-5 h-100">
		<div class="row align-items-center justify-content-center gx-4 gx-lg-5 min-vh-100">
			<div class="col-sm-10 my-auto">
				<h1 class="display-4"><img class="img-fluid" src="~/img/logo.webp" alt="Logo"></h1>
				<h3 class="mt-5">Itasha Store è un'azienda leader nel settore dei trasporti weaboo in Italia.</h3>
				<p>Dal 2023 ci impegnamo ad offrire il meglio per l'otaku che vuole sentire il contatto emotivo con la propria autovettura,<br />garantendo waifu calde come i motori delle nostre auto.</p>
				<div class="mt-5">
					<a class="btn m-1" asp-controller="Clienti" asp-action="Index" role="button">Accesso clienti</a>
					<a class="btn m-1" asp-controller="Admin" asp-action="Index" role="button">Accesso admin</a>
				</div>
			</div>
		</div>
        <div class="row align-items-center justify-content-center gx-4 gx-lg-5 min-vh-100">
            @if (Model.Cars.Count > 0) {
                List<CarPurchaseQuantity> listaPurchases = new List<CarPurchaseQuantity>();
                int Contatore = 0;
                @foreach (Car car in Model.Cars) {
                    int SommaQantitia = 0;


                    @foreach (UserPurchase purchase in Model.Purchases) {
                        @if (purchase.CarId == car.Id) {
                            SommaQantitia += purchase.Quantity;
                        }


                    }
                    @if (SommaQantitia > 0) {
                        CarPurchaseQuantity carForList = new(car.Id, SommaQantitia);
                        listaPurchases.Add(carForList);
                    }
                }
                <div class="container">
                    <div class="row justify-content-center mt-5">
                        <div class="col-12 col-md-10 col-lg-12">
                            <h1 class="text-center text-light">Le nostre auto più richieste</h1>
                            <div class="row g-3 gy-5 justify-content-evenly">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="text-light">Foto</th>
                                            <th scope="col" class="text-light">Nome modello</th>
                                            <th scope="col" class="text-light">Categoria</th>
                                            <th scope="col" class="text-light">Like</th>
                                            <th scope="col" class="text-light"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (CarPurchaseQuantity Purchase in listaPurchases.OrderByDescending(o => o.CarQuantity)) {

                                            foreach (Car car in Model.Cars) {
                                                @if (Purchase.IdCar == car.Id) {

                                                    <tr>
                                                        <td scope="col" class="text-light"><img src="/img/itasha/@car.Url_image" alt="@car.Name" style="max-height:200px; max-width:200PX" /></td>
                                                        <td scope="col" class="text-light">@car.Name</td>
                                                        <td scope="col" class="text-light">@car.Category.Name</td>
                                                        <td scope="col" class="text-light">@car.N_like</td>


                                                        <td>
                                                            <a class="btn" href="@Url.Action("Details", "Clienti", new { id = car.Id } )" role="button">Dettagli</a>
                                                        </td>
                                                    </tr>

                                                    break;
                                                }
                                            }
                                            if (Contatore == 3) {
                                                break;
                                            }
                                            Contatore++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            }
            <div class="container" style="margin-bottom: 200px;"></div>
            </div>
	</div>
</div>

