
@{
    
    
}

@model StorageModelView

@if (Model.Cars.Count > 0)
{
    <div class="container darkmask mt-3 border border-2 border-red">
        <div class="row justify-content-center mt-5">
            <div class="col-12 col-md-10 col-lg-12">
                <h1 class="text-center text-light">Magazzino</h1>
                <div class="row g-3 gy-5 justify-content-evenly">

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="text-light">ID</th>
                                <th scope="col" class="text-light">Nome</th>
                                <th scope="col" class="text-light">Categoria</th>
                                <th scope="col" class="text-light">Personaggio</th>
                                <th scope="col" class="text-light">Ultimo Rifornimento</th>
                                <th scope="col" class="text-light">Ultimo Fornitore</th>
                                <th scope="col" class="text-light">Quantità aggiunta</th>
                                <th scope="col" class="text-light">Quantità attuale</th>
                            </tr>
                        </thead>
                    
                        <tbody>
                            
                            @foreach (Car car in Model.Cars)
                            {
                                List<int> listaID = new List<int> { };
                                int IdPiuGrande = 0;
                                <tr>
                                    <td class="text-light">@car.Id</td>
                                    <td class="text-light" style="width: 20%">@car.Name</td>
                                    <td class="text-light">@car.Category.Name</td>
                                    <td class="text-light">@car.Sticker.Name</td>
                                    
                                    @foreach (SupplierPurchase purchase in Model.Suppliers)
                                    {
                                        @if(purchase.CarId == car.Id)
                                        {
                                            listaID.Add(purchase.Id);
                                        }
                                        
                                    }
                                    @if(listaID.Count() == 0){
                                        <td class="text-light">---</td>
                                        <td class="text-light">---</td>
                                        <td class="text-light">---</td>
                                    }else
                                    {
                                        @foreach (SupplierPurchase purchase in Model.Suppliers)
                                        {
                                            IdPiuGrande = listaID.Max();

                                            if (IdPiuGrande == purchase.Id)
                                            {
                                            
                                                <td class="text-light">@purchase.PurchaseData</td>
                                                <td class="text-light">@purchase.Name</td>
                                                <td class="text-light">@purchase.Quantity</td>
                                            }

                                        }
                                    }

                                    @if (car.Quantity == 0)
                                    {
                                        <td class="text-danger">@car.Quantity</td>
                                    }
                                    else if (car.Quantity < 6)
                                    {
                                        <td class="text-warning">@car.Quantity</td>
                                    }
                                    else
                                    {
                                        <td class="text-light">@car.Quantity</td>
                                    }

                                </tr>
                            }
                            
                            

                        </tbody>
                    </table>
               
                </div>
            </div>
        </div>

        <div class="row justify-content-center d-flex">
            <div class="col-10 col-md-8 text-center text-light my-5">
                <a class="btn" href="@Url.Action("Index", "Admin")">Torna alla pagina Admin</a>
            </div>
        </div>
    </div>
}
else
{
    <h1>Al momento non ci sono auto da visualizzare </h1>

    <div class="row justify-content-center d-flex">
        <div class="col-10 col-md-8 text-center text-light my-5">
            <a class="btn" href="@Url.Action("Index", "Admin")">Torna alla pagina Admin</a>
        </div>
    </div>
}